@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
  /* ---- Typography ---- */
  --font-main: 'Spartan', sans-serif;
  --fontweight-s: 400;
  --fontweight-m: 500;
  --fontweight-l: 700;
  --lineheight: 1.7;

  /* ---- Colors ---- */
  --accent-dark: hsl(300, 43%, 22%);
  --accent-light: hsl(333, 80%, 67%);
  --secondary--dark: hsl(303, 10%, 53%);
  --secondary--light: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  font-family: var(--font-main);
  font-weight: 400;
}

body {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

body::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('images/bg-pattern-top-mobile.svg');
  background-repeat: no-repeat;
  z-index: -1;
}

body::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: calc(100% - 503px);
  bottom: 0;
  background-image: url('images/bg-pattern-bottom-mobile.svg');
  background-repeat: no-repeat;
  z-index: -1;
}

.title {
  padding: 2.5em 0.5em 1em;
  font-size: 2em;
  text-align: center;
  color: hsl(300, 43%, 22%);
  font-family: var(--font-main);
  font-weight: var(--fontweight-l);
}

.service-info {
  padding: 0em 1em 1em;
  text-align: center;
  line-height: var(--lineheight);
  color: var(--accent-dark);
}

.section--star-reviews,
.user-comments {
  padding: 1em;
}

.card-rating {
  background-color: var(--secondary--light);
  padding: 1em;
  border-radius: 10px;
}

.card-rating + .card-rating,
.card--comment + .card--comment {
  margin-top: 1em;
}

.star-rating {
  display: flex;
  justify-content: center;

  margin: 0 auto;
}

.star-rating > img {
  padding: 0.2em;
}

.card--text {
  font-weight: var(--fontweight-l);
  font-size: 0.9em;
  text-align: center;
  padding-top: 0.8em;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapper > img {
  max-width: 45px;
  border-radius: 50%;
}

.card--comment {
  background-color: var(--accent-dark);
  padding: 2.5em;
  color: var(--white);
  font-size: 0.9em;
  border-radius: 10px;
}

.card--comment > p {
  margin-top: 2em;
  line-height: var(--lineheight);
}

.user--info {
  padding-left: 2em;
}

.user--name {
  font-weight: 700;
}

.user--type {
  padding-top: 0.2em;
  color: var(--accent-light);
}

.attribution {
  padding: 1em 1em 2em;
}

@media (min-width: 1440px) {
  body {
    min-width: 1440px;
  }

  body::before {
    background-image: url('images/bg-pattern-top-desktop.svg');
  }

  body::after {
    background-image: url('images/bg-pattern-bottom-desktop.svg');
  }

  body > :nth-child(1) {
    padding: 6em 0 2em;
    display: flex;
    justify-content: space-between;
  }

  header {
    max-width: 40%;
  }

  .title {
    font-size: 3.5em;
    padding: 15px;
  }

  .title,
  .service-info {
    text-align: left;
  }

  .section--star-reviews {
    max-width: 700px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section--star-reviews :nth-child(2) {
    align-self: center;
  }

  .section--star-reviews :nth-child(3) {
    align-self: flex-end;
  }

  .card-rating {
    width: 500px;
  }

  .star-rating > img {
    padding: 0.3em;
  }

  .user-comments {
    display: flex;
    justify-content: center;
    height: 300px;
  }

  .user-comments :nth-child(2) {
    align-self: center;
  }

  .user-comments :nth-child(3) {
    align-self: flex-end;
  }

  .card--comment {
    width: 30%;
    height: max-content;
  }

  .card--comment + .card--comment {
    margin: 0;
    margin-left: 2em;
  }
} ;
